@font-face {
    font-family: 'AleoRegular';
    src: url('../fonts/Aleo_Regular/aleo-regular-webfont.eot') format('eot'), 
    url('../fonts/Aleo_Regular/aleo-regular-webfont.ttf') format('ttf'),
    url('../fonts/Aleo_Regular/aleo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('../fonts/JosefinSans/josefinsans.eot') format('eot'), 
    url('../fonts/JosefinSans/JosefinSans.ttf') format('ttf'),
    url('../fonts/JosefinSans/JosefinSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans_Bold';
    src: url('../fonts/JosefinSans_Bold/JosefinSans-Bold.eot') format('eot'), 
    url('../fonts/JosefinSans_Bold/JosefinSans-Bold.ttf') format('ttf'),
    url('../fonts/JosefinSans_Bold/JosefinSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot') format('eot'), 
    url('../fonts/icomoon/icomoon.ttf') format('ttf'),
    url('../fonts/icomoon/icomoon.woff') format('woff'),
    url('../fonts/icomoon/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}